/* GENERAL */
body {
  font-family: lato;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
  url(/images/background\ dice.jpg); 
}

.player-name, .player-0-score, .player-1-score {
  font-size: 50px;
  padding: 90px 0 5px;
 
}

.player-0-panel, .player-1-panel {
  background-color: #9db6b5;  
}

.player-0-panel {
  height: 650px;
}

.player-1-panel {
  height: 650px;
  margin: 5px;
}

#new-game {
  position: absolute;
  top: -200px;
  left: 30%;
  right: 30%;
}

#roll, #hold, #new-game {
  font-size: 25px;
  height: 60px;
}

#roll {
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 10px;
  right: 62%;
}

#hold {
  position: absolute;
  z-index: 1;
  top: -20px; 
  left: 65%;  
  right: 1px;
}

img {
  position: absolute;
  z-index: 1;
  width: 200px;
  top: -80px;
  left: 46%; 
}

.player-current-box {
  background-color: #1a4a4b; 
  margin: 20px 100px;
  color: #ffffff;
  height: 70px;
  font-size: 30px;
}

.active {

  background-image: linear-gradient(
    to right,
    #f5f0e3,
    #dfc7bf
  );
}

.winner .player-name{
  font-weight: 300;
  color: #ff3333;
}

ion-col {
  text-align: center;
}

input {
  display: none;
}

/* Modification de l'affichage pour mobile */
@media screen and (max-width: 450px) {
  .player-name, .player-0-score, .player-1-score {
    font-size: 30px;
    padding: 30px 20px 10px;
  }
  .player-current-box {
    font-size: 10px;
    height: 30px;
  }
  .player-0-panel {
    width: auto;
    height: 320px;
  }
  .player-1-panel { 
    width: auto; 
    margin: 5px;
    height: 320px;
  }
  #new-game {
    position: absolute;
    top: -100px;
    left: 30%;
    right: 30%;
    
    
  }
  #roll, #hold, #new-game {
    font-size: 10px;
    height: 30px;    
  }
 
  #roll {
    position: absolute;
    z-index: 1;
    top: -7px;
    left: 10px;
    right: 62%;
  }
  #hold {
    position: absolute;
    z-index: 1;
    top: -7px; 
    left: 65%;  
    right: 1px;

  }
  img {
    position: absolute;
    z-index: 1;
    width: 80px;
    top: -30px;
    left: 40%; 
  }
}

/* Modification de l'affichage pour tablette */
@media screen and (min-width: 451px) and (max-width: 1024px) {
  .player-name, .player-0-score, .player-1-score {
    font-size: 50px;
    padding: 40px 0 30px;
  }
  .player-0-panel {
    width: auto;
    height: 510px;
  }
  .player-current-box {
    font-size: 30px;
    height: 70px;
  }
  .player-1-panel {
    margin: 5px;
    width: auto;
    height: 510px;
  }
  #new-game {
    position: absolute;
    top: -100px;
    left: 30%;
    right: 30%;
  }
  #roll, #hold, #new-game {
    font-size: 15px;
    height: 40px;
  }
  #roll {
    position: absolute;
    z-index: 1;
    top: -7px;
    left: 1px;
    right: 60%;
   
  }
  #hold {
    position: absolute;
    z-index: 1;
    top: -7px;   
    right: 1px;
    left: 62%;
  }
  img {
    position: absolute;
    z-index: 1;
    width: 80px;
    top: -30px;
    left: 45%;
  }
}