body {
  font-family: lato;
  background-color: #e6e6e6;
}

.player-name {
  font-size: 50px;
}

.player-current-box {
  box-sizing: content-box;
  width: 170px;
  height: 80px;
  text-align: center;
  background-color:#ff4d4d;
  font-size: 30px;
  color: white;
}

.player-0-score, .player-1-score{
  font-size: 50px;
}

.player-current-score {
  font-size: 30px;
}

#nom-0 {
  position: relative;
  top: 100px;
  left: 200px;
}

#nom-1 {
  position: relative;
  top: 100px;
  left: 400px;
}

#score-0 {
  position: relative;
  top: 150px;
  left: 250px;
}

#score-1 {
  position: relative;
  top: 150px;
  left: 450px;

}

#current-box-0 {
  position: relative;
  top: 500px;
  left: 210px;
}

#current-box-1 {
  position: relative;
  top: 500px;
  left: 410px;
}

#new-game {
  position: relative;
  left: 900px;
  font-size: 30px;
  
}

#roll {
  position: relative;
  top: 400px;
  left: 550px;
  font-size: 30px;
}

#hold {
  position: relative;
  top: 550px;
  left: 195px;
  font-size: 30px;
}

img {
  position: relative;
  left: 980px;
}

.active {
  color: #ff4d4d;
}

.winner .player-name{
  font-weight: 300;
  color: #ff4d4d;
}

input {
  position: relative;
  top: 600px;
  left: 990px;
}